<footer>
  <div class="nav-container">
    <ul class="nav-contents">
      <li class="nav-content">
        <h3 class="nav-title">メルカリボットについて</h3>
        <p class="nav">会社概要(運営会社)</p>
        <p class="nav">採用情報</p>
        <p class="nav">プレスリリース</p>
        <p class="nav">公式ブログ</p>
        <p class="nav">プレスキット</p>
        <p class="nav">メルカリボットUS</p>
      </li>
      <li class="nav-content">
        <h3 class="nav-title">ヘルプ&ガイド</h3>
        <p class="nav">メルカリボットガイド</p>
        <p class="nav">メルカリボットあんしん・あんぜん宣言！</p>
        <p class="nav">ニセブランド品撲滅への取り組み</p>
        <p class="nav">フリーワードからさがす</p>
        <p class="nav">お問い合せ</p>
      </li>
      <li class="nav-content">
        <h3 class="nav-title">プライバシーと利用規約</h3>
        <p class="nav">プライバシーと利用規約</p>
        <p class="nav">メルカリ利用規約</p>
        <p class="nav">コンプライアンスポリシー</p>
        <p class="nav">個人データの安全管理に係る基本方針</p>
        <p class="nav">特定商取引に関する表記</p>
        <p class="nav">資金決済法に基づく表示</p>
        <p class="nav">法令遵守と犯罪抑止のために</p>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="sns-icon">
      <%= image_tag "twitter.png", class: "twitter" %>
      <%= image_tag "facebook.png", class: "facebook" %>
    </div>
    <p class="company-name">@MercariBot, Inc.</p>
  </div>
</footer>